<html>

<body>
<div class="panel">
  <h3>套餐信息</h3>

  <div class="panel_contents">
    <div class="attributes_table">
      <table border="0" cellspacing="0" cellpadding="0">

        <tr class="row row-">
          <th>名称</th>
          <td><%= @pack.name %></td>
        </tr>

        <tr class="row row-">
          <th>价格</th>
          <td><%= @pack.price %></td>
        </tr>

        <tr class="row row-">
          <th>套餐介绍</th>
          <td><%= @pack.description %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
</body>
</html>

